# Leave VITE_API_BASE empty to run in demo mode (in-memory data, no backend).
# Uncomment and set to your API base URL when running the backend separately or in production.
# VITE_API_BASE=https://app-sdct-dev.azurewebsites.net
VITE_USE_RELATIVE_API=true
# demo | msal
VITE_AUTH_MODE=msal
VITE_ENTRA_CLIENT_ID=61e91e58-0af1-4e08-b388-e5ed3730bc5e
VITE_ENTRA_TENANT_ID=12a3af23-a769-4654-847f-958f3d479f4a
VITE_API_SCOPE=https://aad20912-2ec3-409d-8995-91d64894d38a/.default
